<div>
    <label>Title</label>
    <input type="text" name="title">
</div>
<div>
    <label>Author</label>
    <select name="author">
        <% authors.forEach( author => { %>
            <option label="<%= author.name %>" value="<%= author.id %>"></option>
            <!-- big brain time: phải có value ở option tại vì select mới chỉ có name để kết nối với database mà chưa có value -->
        <% }) %>
    </select>
</div>
<div>
    <label>Publish Date</label>
    <input type="date" name="publishDate">
</div>
<div>
    <label>Page Count</label>
    <input type="number" name="pageQuantity">
</div>
<div>
    <label>Cover Image</label>
    <input type="file" name="cover">
</div>
<div>
    <label>Description</label>
    <textarea type="text" name="description"></textarea>
</div>








