<header>
    <nav class="nav row">
        <a class="nav__title col l-6 c-12 m-12" href="">My Library</a>
        <ul class="nav__list col l-6 c-12 m-12">
            <li class="nav__item"><a class="nav__link" href="/authors">Authors</a></li>
            <li class="nav__item"><a class="nav__link" href="/authors/new">Add Author</a></li>
            <li class="nav__item"><a class="nav__link" href="/books">Books</a></li>
            <li class="nav__item"><a class="nav__link" href="/books/new">New Book</a></li>
        </ul>
    </nav>
</header>










