<h1 class="title">New Author</h1>

<form action="/authors" method="POST">
    <%- include('_form_field') %>

    <div class="btn-row  form-row-end">
        <a class="btn btn-danger margin-right-25" href="/authors">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>





